/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-attachment: fixed;
    background-color: var(--background-color);
}

.header {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    height: 100vh;
}

.rec {
    position: absolute;
    z-index: 1;
    display: flex;
    top: 10px;
    right: 39px;
    color: var(--rec-color);
    font-family: var(--font-name);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

.rec::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -20px;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background: var(--rec-color);
    box-shadow: 0px 0px 4px 2px var(--rec-color);
}

.decorated-zone {
    position: relative;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__theme-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin: 23px 10px 0 0;
}

.header__theme-menu-button {
    color: var(--main-color);
    background-color: transparent;
    width: 70px;
    height: 26px;
    text-transform: lowercase;
    font-family: var(--font-name);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    line-height: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.header__theme-menu-button.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--main-color);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--main-color);
}

.header__theme-menu-button:hover {
    outline: none;
    border: 1px solid var(--main-color-with-opacity);
}

.sub_header {
    color: var(--main-color);
    font-family: var(--font-name);
    font-size: var(--sub-header-font-size);
    font-weight: var(--sub-header-font-weight);
}

.title_decore {
    font-family: var(--font-name);
    background-color: var(--links-accent-color);
    color: var(--sub-header-color);
    font-size: var(--sub-header-font-size);
    font-weight: var(--sub-header-font-weight);
    text-align: left;
}

h4.title_decore {
    font-weight: var(--text-font-weight);
}

.h3 {
    font-family: var(--font-name);
    background-color: var(--links-accent-color);
    font-size: var(--sub-header-font-size);
    font-weight: var(--sub-header-font-weight);
    text-align: left;
    color: var(--sub-header-color);
}

.text {
    color: var(--text-color);
    font-family: var(--font-name);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: left;
    margin: 10px 0 0 0;
    line-height: 23.4px;
}

.links {
    text-decoration: none;
    font-family: var(--font-name);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-shadow: 1px 1px 0 var(--links-accent-color);
}

.links:focus-visible {
    outline: none;
    border: 1px solid var(--main-color-with-opacity);
}

.links:hover {
    border-bottom: 1px solid var(--main-color);
}

.corner_decoration::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.corner_decoration::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
}

.header.corner_decoration::before {
    top: 10px;
    right: 10px;
}

.header.corner_decoration::after {
    bottom: 10px;
    left: 10px;
}

.footer.corner_decoration::before {
    top: 0;
    right: 10px;
    margin: 30px 0 0 0;
}

.footer.corner_decoration::after {
    bottom: 0;
    left: 10px;
    margin: 0 0 -10px 0;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px 0 20px 0;
}

.footer_text {
    position: relative;
    font-family: var(--font-name);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: var(--header-font-weight);
    color: var(--main-header-color);
    text-shadow: 2px 2px 0 var(--accent-color);
    margin: 45px 0 0 0;
}

.main_header {
    display: grid;
    justify-self: start;
    align-self: center;
    font-family: var(--font-name);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: var(--header-font-weight);
    color: var(--main-header-color);
    text-shadow: 4px 4px 0 var(--accent-color);
    line-height: 80%;
    margin: 10px 0 0 10px;
}

.heading-text.title_decore {
    display: grid;
    justify-self: end;
    align-self: center;
    font-family: var(--font-name);
    font-size: var(--sub-header-font-size);
    font-weight: var(--sub-header-font-weight);
    margin: -15px 10px 0 10px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 40px 10px 0 10px;
    gap: 50px;
}

.section {
    display: grid;
    grid-template-rows: auto;
    row-gap: 21px;
}

.section article {
    display: flex;
    flex-direction: column;
    grid-row: auto;
}

.section_what article {
    margin: 0 0 -1px 0;
}

.section_what .list {
    display: grid;
    grid-template-rows: auto;
    row-gap: 21px;
}

.section_galery div {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto;
    row-gap: 10px;
    margin: -11px 0 0 0;
}

.section__image {
    width: 100%;
    grid-row: auto;
    object-fit: cover;
    object-position: center;
}

@media (width >= 768px) {
    .rec {
        top: 21px;
        right: 48px;
    }

    .rec::after {
        top: 7px;
        right: -19px;
    }

    .header.corner_decoration::before {
        top: 20px;
        right: 20px;
    }

    .header.corner_decoration::after {
        bottom: 20px;
        left: 20px;
    }

    .footer.corner_decoration::before {
        top: 0;
        right: 20px;
        margin: 40px 0 0 0;
    }

    .footer.corner_decoration::after {
        bottom: 0;
        left: 20px;
        /*margin-bottom: 20px;*/
        margin:0 0 0px 0;
    }

    .footer_text {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .footer {
        margin: 40px 0 20px 0;
    }

    .header__theme-menu {
        margin: 20px 20px 0 0;
    }

    .header__theme-menu-list {
        margin: 140px 0 20px 0;
    }

    .main_header {
        margin: 0;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .heading-text.title_decore {
        margin: -16% 20px 0 50%;
    }

    main {
        margin: 60px 20px 0 20px;
        gap: 80px;
    }

    .section_why {
        display: grid;
        grid-template-columns: 33% 67%;
        row-gap: 20px;
    }

    .section_why h2 {
        margin: 0 5px 0 0;
    }

    .section_why article {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: auto;
        margin: 0 0 0 16px;
    }

    .section_what {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        gap: 22px;
        margin: 0 0 0 0;
    }

    .section_what h2 {
        display: flex;
        flex-direction: row;
        grid-row: auto;
        grid-column: auto;
        width: 30vw;
    }

    .section_what article {
        display: flex;
        flex-direction: column;
        grid-row: auto;
        grid-column: auto;
    }

    .section_how {
        display: grid;
        grid-template-columns: 33% 67%;
        grid-template-rows: 3% auto;
        row-gap: 8px;
        margin-top: 2px;
    }

    .section_how h3 {
        height: fit-content;
        margin: 0 0 0 15px;
    }

    .section_how article {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: auto;
        margin: 0 0 0 15px;
    }

    .section_galery {
        margin: -7px 0 0 0;
        max-height: 80vh;
    }

    .section_galery div {
        min-height: 780px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*grid-template-rows: 0.75fr 1fr 2fr;*/
        grid-template-rows: minmax(192px, 260px) minmax(230px, 315px) minmax(318px, 428px);

        row-gap: 21px;
        column-gap: 18px;
        margin: 0;
    }

    .section_galery h2 {
        margin: 0 0px 0 0px;
    }

    .section__image:nth-child(1) {
        height: 100%;
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .section__image:nth-child(2) {
        height: 100%;
        width: 100%;
        grid-row: 1/3;
        grid-column: 3/4;
    }

    .section__image:nth-child(3) {
        height: 100%;
        width: 100%;
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .section__image:nth-child(4) {
        height: 100%;
        width: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .section__image:nth-child(5) {
        height: 100%;
        width: 100%;
        grid-row: 3/4;
        grid-column: 2/4;
    }
}

@media (width >= 1024px) {
    .header__theme-menu {
        flex-direction: column;
        justify-content: space-around;
    }

    .header__theme-menu-list {
        flex-direction: row;
        align-items: flex-start;
        width: 230px;
        margin: -188px 0 0 0;
    }

    .heading-text.title_decore {
        margin: -7% 20px 0 50%;
    }

    .section_why article {
        margin: 0 0 0 10px;
    }

    .section_what {
        display: grid;
        grid-template-rows: 1fr 9fr;
    }

    .section_what .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-auto-flow: row;
    }

    .section_what article {
        display: flex;
        flex-direction: column;
        grid-row: auto;
        grid-column: auto;
    }

    .section_how {
        display: grid;
        grid-template-columns: 33% 67%;
        grid-template-rows: 2% auto;
        row-gap: 20px;
    }

    .section_how h3 {
        margin: 0 0 0 10px;
    }

    .section_how article {
        margin: -9px 0 0 10px;
    }

    .section_how > article:nth-child(3) {
        margin: 0 0 0 10px;
    }

    .section_galery {
        margin: -10px 0 0 0;
            max-height: 142vh;
    }

    .section_galery h2 {
        margin: 0;
    }

    .footer.corner_decoration::after {
        bottom: 0;
        left: 20px;
        margin-bottom: 0px;
    }
    .footer {
        margin: 40px 0 20px 0;
    }
}