/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --main-header-color: #DB00FF;
    --links-accent-color:  #FF0070;
    --accent-color: #FF0070;
    --main-color: #FF0070;
    --main-color-with-opacity: rgba(255, 0, 112, 0.4);
    --rec-color: rgba(255, 0, 112, 1);

    --background-color: #000028;
    --header-color: #FF0070;
    --sub-header-color: #000028;
    --text-color: #F1B2CE;
    --accent-color-with-opacity: rgba(255, 0, 112, 0.4);

    --font-name: IBM Plex Mono, sans-serif;
    --text-font-size: 18px;
    --text-font-weight: 400;

    --header-font-size: 116px;
    --header-font-weight: 700;

    --sub-header-font-size: 18px;
    --sub-header-font-weight: 700;

    --background-image: url('../images/cover-image-dark.png');
}

:root .theme_auto {
    background: #FFF1F7;
    --links-accent-color: #FF8DCB;

    --main-header-color: #FFC2E6;
    --accent-color: #FF0070;
    --background-color: #FFF1F7;
    --main-color: #353430;
    --main-color-with-opacity: rgba(50, 49, 45, 0.4);
    --rec-color: rgba(255, 0, 112, 0);
    --sub-header-color: #353430;
    --text-color: #353430;
    --accent-color-with-opacity: rgba(50, 49, 45, 0.4);
    --background-image: url('../images/cover-image-light.png');
}