/*
  Переменные для вашего проекта
  и их переопределение под различные устройства

  Большинство цветов,
  шрифт,
  размеры текста для разных элементов и
  отступы
  удобно хранить в переменных, потому что они часто используются в разных местах кода.
  А ещё это нужно, чтобы быстро менять темы простым переопределением переменных.
  Изучите макет и запишите переменные в файл variables.css.
Задавая значения для переменных цветов,
запишите только нужные для той темы, которую вы выбрали основной.
Цвета для второй темы вы допишете в соответствующий файл позже.
Выбирайте для переменных имена, которые будут иметь смысл в обеих темах.
Старайтесь без особой надобности не плодить сущности.
Не нужно создавать для одного цвета две переменные для светлой и тёмной темы.
Создайте одну переменную, а потом, если нужно, поменяйте её значение.

Тема по умолчанию - темная
цветов,
  шрифт,
  размеры текста для разных элементов и
  отступы
*/
:root {
    --main-header-color:#DB00FF;
    --accent-color: #FF0070;
    --background-color: #000028;
    --header-color:#FF0070;
    --sub-header-color:#000028;
    --text-color:#F1B2CE;

    --font-name:IBM Plex Mono;
    --text-font-size: 18px;
    --text-font-weight: 400;

    --header-font-size: 116px;
    --header-font-weight: 700;

    --sub-header-font-size: 18px;
    --sub-header-font-weight: 700;

    --background-image:url('images/cover-image-dark.png');
}